
.logout-style {
    float: right;
    margin-top: 36px;
    height: 30px;
    margin-right: 36px;
}

.fixed-content {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
